<div class="container">
  <div class="contact-header header-layout">

    <h1>Contact us at</h1>
    <ul>
      <li>Email:books_berlin@abv.bg</li>
      <li>Phone: 01632501672</li>
    </ul>
    <h5>Working hours</h5>
    <ul>
      <li>Monday-Friday: 9-18hr</li>
    </ul>
  </div><!-- /contact-header -->
  <br />
  <br />
  <br />
  <br />

  <%= flash[:notice] %>

<%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
<div class="row">
  <div class="form-group col-12">
    <center class="form-title"><%= form.label :name %></center>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
    <br />
  </div>

  <div class="form-group col-12">
    <center class="form-title"><%= form.label :email %></center>
    <%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
      <br />
  </div>
  <div class="form-group col-12">
    <center class="form-title"><%= form.label :message %></center>
    <%= form.text_area :message, class: "form-control", placeholder: "Enter Message", rows: 5 %>
    <br />
  </div>
</div>
<center><%= form.submit "Send", class:"form_label btn btn-success btn-form" %></center>
<% end %>

</div><!-- /container -->
