<div class="container">
  <h1 class="landing-page-h1">Books Berlin</h1>
  <h2 class="landing-page-h2">Bookstore for new books, used books and antique books</h2>
  <div class="in-stock text-center">
    <%= render 'simple_pages/alert' %>
    <%= image_tag("book1.png", class: "img-responsive book1") %>
  </div><!-- /in-stock -->

  <h2 class="header-layout">Featured Products</h2>

  <div id="carouselExampleIndicators" class="carousel slide mx-auto col-xs-12" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-inner">
        <% @products.each do |product| %>
          <div class="carousel-item<%= " active" if product == @products.first %>">
            <%= image_tag(product.image_url) %>

            <div class="carousel-caption d-none d-md-block">
              <strong class="title"><%= product.name %></strong><br>
              <strong>genre:</strong> <%= product.genre %><br>
              <i>Price: <%= product.price %> $ </i>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


</div>
<!-- /container -->
