<div class="old-comments">
<hr> 
        <p class="col-md-12 ">
          <%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago"%></em></small>
        </p>
       
        <p class="col-md-12"><%= "Rating: #{comment.rating}/5" %></p>
        <p class="col-md-12"><%= comment.body %></p>
        <div class="rated col-md-12" data-score="<%= comment.rating %>"></div>
       <p>
         <% comment.user.first_name %> <small><em><% "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
         <% if signed_in? && current_user.admin? %>
           <%= link_to ('<i class="far fa-trash-alt"></i>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
         <% end %>       
       </p>
</div>


