<div class="container">
<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="product-page-style">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-size'%>
  </div>

  <div class="field" id="product-page-style">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-size' %>
  </div>

  <div class="field" id="product-page-style">
    <%= form.label :image_url, class: 'form-label' %>
    <%= form.text_field :image_url, class: 'form-size' %>
  </div>

  <div class="field">
    <%= form.label :genre, class: 'form-label form-margin-bot' %><br>
    <%= form.text_field :genre, class: 'form-size' %>
  </div>

  <div class="field">
    <%= form.label :price, class: 'form-label form-margin-bot' %><br>
    <%= form.text_field :price, class: 'form-size'%>
  </div>

  <div class="actions" id="product-page-style">
    <%= form.submit class: 'btn btn-success btn-form'%>
  </div>

<% end %>
</div>
