<div class="container">

  <p id="notice">
    <%= notice %>
  </p>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="thumbnail">
        <center>
          <%= image_tag @product.image_url %>
          <div class="caption">
            <br />
            <h3 class="name-class">
              <%= @product.name %>
            </h3>
            <p>
              <%= @product.genre %>
            </p>
            <p class="description-class">
              <%= @product.description %>
              <br />
            </p>
            <p>
              Price :
              <%= @product.price %> $
            </p>
           <div class="jumbotron comments-body col-sm-12 col-md-12"> 
            <p class="highest-rating-comment">Customer review:</p>
            <p>
              <% if @product.comments.length > 0 %> 
                 <p class="comment-font"> <%= @product.highest_rating_comment.body %> </p>
              <% end %>
            </p>
            </div>
        </center>
      </div>
    </div>
  </div>
</div>





<!-- removed link to edit button -->
<% link_to 'Edit', edit_product_path(@product) %> 
<%= link_to 'Back', products_path %>

</div>
