<div class="container">


  <div class="row show-page">
    <div class="col-sm-12 col-md-12">
      <div class="thumbnail">
        <center>
          <%= image_tag @product.image_url %>
          <div class="caption">
            <br />
            <h3 class="name-class">
              <%= @product.name %>
            </h3>
            <p>
              <%= @product.genre %>
            </p>
            <p class="description-class">
              <%= @product.description %>
              <br />
            </p>
            <p>
              Price :
              <%= @product.price %> $
            </p>
            <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
            <%= render 'new_comment' %>
           <div class="jumbotron comments-body col-sm-12 col-md-12"> 
            <p class="highest-rating-comment">Customer review:</p>
            <p>
              <% if @product.highest_rating_comment %>
                 <p class="comment-font"> <%= @product.highest_rating_comment.body %> </p>
               <% end %>
            </p>
            </div>
            </div>
        </center>
      </div>
    </div>
  </div>
</div>

<%= render 'comments'%>

   <div class="flickr_pagination">
      <%= will_paginate @comments, :page_links => false, class: "btn btn-default btn-xs" %>
    </div>       


<!-- removed link to edit button -->
<% link_to 'Edit', edit_product_path(@product) %> 
<button class="form_label btn btn-success btn-form"><%= link_to 'Back', products_path %></button>

</div>
